@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center> <h1>REDES SOCIALES</h1></center>
    <center><img src="~/Imagenes/iconos-mobile-social.png" height="300" width="800" /></center>
</div>

